@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*Menu is in Shared/_Layout.cshtml*@

<p>Homepage Var - @ViewData["homepageVar"]</p>

<br />
<div class="text-center">
    <h1 class="display-4">Wadders & Mahone</h1>
    <p>This is an example website.</p>
</div>

<br />
<hr />
<br />

<div class="text-left">
    <h3>Example Table</h3>
    <p>Here is a basic table:</p>
    <table style="width:100%;" border="1">
        <tr>
            <th>Heading 1</th>
            <th>Heading 2</th>
            <th>Heading 3</th>
            <th>Heading 4</th>
        </tr>
        <tr>
            <td>Row 1:1</td>
            <td>Row 1:2</td>
            <td>Row 1:3</td>
            <td>Row 1:4</td>
        </tr>
    </table>
</div>

<br />
<hr />
<br />

<div>
    <h3>Example of dropdown menu:</h3>
    <br />
    Select item from dropdown:
    <select name="Select1" id="Select1">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>
</div>

<br />
<hr />
<br />

<div>
    <h3>Example of button click events:</h3>
    <br />
    @*Width is set in site.css*@
    <input id="Text1" type="text" value="Click button to change this text" />
    @*Call myFunction() from JavaScript on button click*@
    <input id="Button1" type="button" value="Change Text" onclick="myFunction()" />
</div>

<br />
<hr />
<br />

<div>
    <h3>Example of copying from one text box to another:</h3>
    <br />
    Type a word...
    <input id="Text2" type="text" />
    Output the word here
    <input id="Text3" type="text" />
    <input id="Button2" type="button" value="Copy Text" onclick="myCopyFunc()" />
</div>

<br />
<hr />
<br />

<div>
    <h3>Example of Date.now:</h3>
    <br />
    Todays date is: <span id="date"></span>
</div>

<br />
<hr />
<br />

<div>
    <h3>Example of random number generation:</h3>
    <br />
    @*Set min and max for random generation*@
    Set Min:
    <input id="MinV" type="number" min="0" />
    <br />
    <br />
    Set Max:
    <input id="MaxV" type="number" min="0" />
    <br />
    <br />
    <input id="Button3" type="button" value="Get a random number" onclick="document.getElementById('rand').innerHTML = getRndInteger()" />
    <br />
    <br />
    Random number: <span id="rand"></span>
</div>

<br />
<hr />
<br />

@*GRAPH STUFF*@
@*Import chart.js*@
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    <h3>Example Graph:</h3>
    <br />
    <table style="width:70%;" border="1" align="center">
        <tr>
            <th>Colour</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Red =</td>
            <td><input id="RedVal" min="0" type="text" /></td>
        </tr>
        <tr>
            <td>Blue =</td>
            <td><input id="BlueVal" min="0" type="text" /></td>
        </tr>
        <tr>
            <td>Yellow =</td>
            <td><input id="YellowVal" min="0" type="text" /></td>
        </tr>
        <tr>
            <td>Green =</td>
            <td><input id="GreenVal" min="0" type="text" /></td>
        </tr>
        <tr>
            <td>Purple =</td>
            <td><input id="PurpleVal" min="0" type="text" /></td>
        </tr>
        <tr>
            <td>Orange =</td>
            <td><input id="OrangeVal" min="0" type="text" /></td>
        </tr>
    </table>
</div>

<div>
    <input id="barGraphExample" type="button" value="barGraph" onclick="barGraphExample()" />
    <canvas id="barChart"></canvas>
</div>

<br />
<hr />
<br />

@*<div>
        <input id="graphGraph" type="button" value="graphGraph" onclick="graphGraph()" />
        <canvas id="myChart"></canvas>
    </div>*@

<br />
<hr />
<br />

<div>
    <h2>Bitcoin live price graph</h2>
    <hr />
    <canvas id="myChart"></canvas>
    <h3>BITCOIN API CALL:</h3>
    <br />
    @*Updates every 5 seconds using interval*@
    The current spot price of BTC/GBP is = <input id="BTC_box" type="text" />
    cnt = <input id="cnt-box" type="text" />
</div>

<br />
<hr />
<br />
<br />
<br />

<div>
    <input id="Button1" type="button" value="Get Percent Difference" onclick="priceMove()" /><br />
    <span id="priceMoveOutput"></span><br />
</div>


<br />
<hr />
<br />